[train]
app=dnnroi_custom
device=cpu
# files=/nfs/data/1/calcuttj/spng_merging2/toolkit/spng/test/training_inputs/030526_inputs/cosmics/cosmics_*-g4-*-1.h5
files=/nfs/data/1/calcuttj/spng_merging2/toolkit/spng/test/training_inputs/030526_inputs/cosmics_mp_dnnroi_init_train/cosmics_*-g4-*-1.h5
batch=1
epochs=1

[model]
n_channels=3

[dataset]
##DO NOT PUT ANY QUOTES AROUND THESE
# tru_file_re=.*cosmics_([1-6][0-9])-g4-tru-(1).h5
# rec_file_re=.*cosmics_([1-6][0-9])-g4-rec-(1).h5
tru_file_re=.*cosmics_(\d+)-g4-tru-(1).h5
rec_file_re=.*cosmics_(\d+)-g4-rec-(1).h5
tru_path_res=['/(\\d+)/frame_ductor\\d']
rec_path_res=['/(\\d+)/frame_loose_lf\\d', '/(\\d+)/frame_mp(2)_roi\\d', '/(\d+)/frame_mp(3)_roi\\d']
tru_elech_binning=[0, 800, 1]
rec_elech_binning=[0, 800, 1]
tru_tick_binning=[0, 1500, 1]
rec_tick_binning=[0, 1500, 1]
tru_norm=0.05
rec_norm=1

[run_one_dataset]
tru_path_res=['/(\\d+)/frame_ductor\\d']
rec_path_res=['/(\\d+)/frame_loose_lf\\d', '/(\\d+)/frame_mp(2)_roi\\d', '/(\d+)/frame_mp(3)_roi\\d']
tru_elech_binning=[0, 800, 1]
rec_elech_binning=[0, 800, 1]
tru_tick_binning=[0, 1500, 1]
rec_tick_binning=[0, 1500, 1]
tru_norm=0.05
rec_norm=1
# tru_file_re=.*splat-cosmics_(9)\.h5
# rec_file_re=.*sigproc-spng-cosmics_(9)\.h5