[train]
app=uvitrio
device=cpu
# files=/nata/1/calcuttj/pdhd_unet_inputs/gen_g4/g4-*20251209*Z*.h5
# files=/nfs/data/1/calcuttj/spng_merging2/toolkit/spng/training_inputs/testdir/*-cosmics_*.h5
files=/nfs/data/1/calcuttj/spng_merging2/toolkit/spng/test/training_inputs/030226_inputs/train/cosmics*.h5
# files=/home/jacob/g4-*-20251209T185557Z*.h5
batch=1
epochs=1

[dataset]
##DO NOT PUT ANY QUOTES AROUND THESE
# tru_file_re=.*splat-cosmics_([0-8])\.h5
# rec_file_re=.*sigproc-spng-cosmics_([0-8])\.h5
# tru_file_re=.*cosmics_([0-8])+-g4-tru-dense-0\.h5
# rec_file_re=.*cosmics_([0-8])+-g4-rec-dense-0\.h5
tru_file_re=.*cosmics_(\d+)-g4-tru-dense-0\.h5
rec_file_re=.*cosmics_(\d+)-g4-rec-dense-0\.h5
tru_path_res=['/(\d+)/frame_ductor(\d)']

[run_one_dataset]
# tru_file_re=.*cosmics_([0-9])+-g4-tru-dense-0\.h5
# rec_file_re=.*cosmics_([0-9])+-g4-rec-dense-0\.h5
tru_file_re=.*tru-dense-(0)\.h5
rec_file_re=.*rec-dense-(0)\.h5
tru_path_res=['/(\d+)/frame_ductor(\d)']
# tru_file_re=.*splat-cosmics_(9)\.h5
# rec_file_re=.*sigproc-spng-cosmics_(9)\.h5