on: [push]
jobs:
    Unit-Tests:
        runs-on: ubuntu-latest
        steps:
            - name: Print job info
              run: echo "This job was automatically triggered by a ${{ github.event_name }} event. It is now running on a ${{ runner.os }} server hosted by GitHub! The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."

            - name: Print Architecture
              run: uname -m

            - name: Setup python
              uses: actions/setup-python@v4
              with:
                python-version: '3.9.13'

            - name: Setup BATS
              uses: mig4/setup-bats@v1
              with:
                bats-version: 1.2.1

            - name: Check out the commit that triggered this job
              uses: actions/checkout@v4

            - name: Install wire-cell-python & run the tests
              run: |
                  python -m venv venv/
                  source venv/bin/activate
                  python -m pip install pip==22.0.4
                  python -m pip install -e .
                  python -c "import wirecell"
                  ./test/gen-test-empty-commands.sh
                  bats test/test-empty-commands.bats